.ShopItemTable {
  border-radius: 15px;
  padding: 5px;
  position: relative;
  align-items: center;

td{
  padding: 10px;
}

  img {
    width: 240px;
    height: 200px;
    object-fit: cover;
    border: 1px solid gray;
    border-radius: 15px;
  }

  svg {
    // position: absolute;
    // right: 15px;
    // top: 15px;
    cursor: pointer;
    
    path {
      fill: firebrick;
    }
  }

  button {
    padding: 10px;
    min-width: 60px;
    border-radius: 10px;
    font-size: 20px;

    &:hover {
      filter: drop-shadow(0 0 10px #4444dd)
    }
  }
}